<h1>Hi {{currentUser.name}}!</h1>
<h3>Transaction history:</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Sender</th>
        <th scope="col">Recipient</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tr of transactions">
        <th scope="row">{{tr.id}}</th>
        <td>{{tr.recipient == currentUser.id?'Credit':'Debit'}}</td>
        <td>{{tr.senderEmail}}</td>
        <td>{{tr.recipientEmail}}</td>
        <td>{{tr.amount}}</td>
        
        <td><a  *ngIf="tr.recipient != currentUser.id" (click)="copyTransaction(tr.recipientEmail, tr.amount)" class="btn btn-link">Copy</a></td>
      </tr>

    </tbody>
  </table>