<h1>Hi {{currentUser.name}}!</h1>
<h3>Transaction history:</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Sender</th>
        <th scope="col">Recipient</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tr of pageOfItems">
        <th scope="row">{{tr.createdAt | date:'dd:mm:yyyy hh:mm'}}</th>
        <td>{{tr.recipient == currentUser.id?'Credit':'Debit'}}</td>
        <td>{{tr.senderEmail}}</td>
        <td>{{tr.recipientEmail}}</td>
        <td>{{tr.amount}}</td>
        
        <td><a  *ngIf="tr.recipient != currentUser.id" (click)="copyTransaction(tr.recipientEmail, tr.amount)" class="btn btn-link">Copy</a></td>
      </tr>

    </tbody>
    <tfoot>
      <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="transactions" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
    </tfoot>
  </table>
  <!--<div class="card text-center m-3">
    <h3 class="card-header">Angular 8 Pagination Example</h3>
    <div class="card-body">
        <div *ngFor="let item of pageOfItems">{{item.name}}</div>
    </div>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="transactions" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
</div>-->